.submit-btn {
    -fx-background-color: linear-gradient(to bottom, #F3D19C, #E7B77A);
    -fx-border-color: #6F5124; 
    -fx-border-width: 2;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-text-fill: #000000;
    -fx-font-size: 18px;
    -fx-font-family: 'Dyuthi Regular';
    -fx-padding: 10 20;
    -fx-cursor: hand;
}

.submit-btn:hover {
    -fx-background-color: linear-gradient(to bottom, #E7B77A, #C08D41);
}

.submit-btn:pressed {
    -fx-background-color: #4D371D;
    -fx-text-fill: white;
}
